server:
  port: 8082

spring:
  datasource:
    url: jdbc:h2:file:./data/bookingdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  graphql:
    path: /graphql
    schema:
      locations: classpath:graphql/
    graphiql:
      enabled: true
      endpoint:
        graphql: /graphql
      mapping: /graphiql

app:
  async:
    core-pool-size: 5
    max-pool-size: 20
    queue-capacity: 100

logging:
  level:
    org.springframework.graphql: DEBUG
    org.springframework.web: DEBUG
    org.hibernate: DEBUG
    org.springframework: DEBUG

resilience4j:
  circuitbreaker:
    instances:
      eventServiceCB:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        permittedNumberOfCallsInHalfOpenState: 2

